{% extends 'base.html' %}

{% block content %}
<table>
    <thead>
        <th>Item</th>
        <th>Delete</th>
    </thead>
    <tbody>
            {% for wish in wish_list %}
            <tr>
                <td>{{wish.item}}</td>
                <td class='delete'>
                    <form method="POST" action="{% url 'wish_delete' wish.id %}">
                        {% csrf_token %}
                        <input type="submit" value="X">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% if not wish_list.count %}
    <p class='placeholder'>No item in the wishlist...</p>
{% endif %}
{% endblock %}